version: "3.9"

networks:
  app-tier:
    driver: bridge

services:
  kafka:
    image: bitnamilegacy/kafka:4.0.0-debian-12-r10
    container_name: kafka
    environment:
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    ports:
      - "9092:9092"
    networks:
      - app-tier
    healthcheck:
      test: ["CMD", "/opt/bitnami/kafka/bin/kafka-topics.sh", "--bootstrap-server", "kafka:9092", "--list"]
      interval: 5s
      retries: 12
      start_period: 10s
      timeout: 5s

  kafka-config:
    image: bitnamilegacy/kafka:4.0.0-debian-12-r10
    container_name: kafka-config
    depends_on:
      - kafka
    volumes:
      - ./kafka-config:/scripts
    entrypoint:
      ["/bin/bash", "/scripts/create-topics.sh", "kafka:9092", "transactions-trial", "3600000"]
    networks:
      - app-tier
    restart:
      no

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - 8080:8080
    environment:
      DYNAMIC_CONFIG_ENABLED: "true"
    networks:
      - app-tier

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=admin12345
    ports:
      - "9000:9000"
      - "9001:9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://minio:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    volumes:
      - ./minio/data:/data
    networks:
      - app-tier

  producer:
    build: ./src/producer
    restart: unless-stopped
    depends_on:
      kafka:
        condition: service_healthy
      kafka-config:
        condition: service_completed_successfully
    environment:
      - KAFKA_BROKER=kafka:9092
      - KAFKA_TOPIC=transactions-trial
    volumes: 
      - ./producer:/app
    networks:
      - app-tier

  consumer:
    build: ./src/consumer
    restart: unless-stopped
    depends_on:
      kafka:
        condition: service_healthy
      kafka-config:
        condition: service_completed_successfully
    environment:
      - KAFKA_BROKER=kafka:9092
      - KAFKA_TOPIC=transactions-trial
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=admin
      - MINIO_SECRET_KEY=admin12345
    volumes:
      - ./consumer:/app
    networks:
      - app-tier

  partitioner:
    build: ./src/partitioner
    depends_on:
      minio:
        condition: service_healthy
    environment:
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=admin
      - MINIO_SECRET_KEY=admin12345
    networks:
      - app-tier

  compacter:
    build: ./src/compacter
    depends_on:
      minio:
        condition: service_healthy
    environment:
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=admin
      - MINIO_SECRET_KEY=admin12345
    networks:
      - app-tier  

  querier:
    build: ./src/querier
    depends_on:
      minio:
        condition: service_healthy
    environment:
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=admin
      - MINIO_SECRET_KEY=admin12345
    ports:
      - "8000:8000"
    networks:
      - app-tier  