version: "3.9"

networks:
  app-tier:
    driver: bridge

services:
  kafka:
    image: bitnamilegacy/kafka:4.0.0-debian-12-r10
    container_name: kafka
    environment:
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
    ports:
      - "9092:9092"
    networks:
      - app-tier
    healthcheck:
      test: ["CMD", "/opt/bitnami/kafka/bin/kafka-topics.sh", "--bootstrap-server", "kafka:9092", "--list"]
      interval: 5s
      retries: 12
      start_period: 10s
      timeout: 5s

  kafka-config:
    image: bitnamilegacy/kafka:4.0.0-debian-12-r10
    container_name: kafka-config
    depends_on:
      - kafka
    volumes:
      - ./init-scripts:/scripts
    entrypoint:
      ["/bin/bash", "/scripts/create-topics.sh", "kafka:9092", "transactions-trial", "3600000"]
    networks:
      - app-tier
    restart:
      no

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - 8080:8080
    environment:
      DYNAMIC_CONFIG_ENABLED: "true"
    networks:
      - app-tier

  minio:
    image: minio/minio
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=admin12345
    ports:
      - "9000:9000"
      - "9001:9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://minio:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s
    volumes:
      - ./minio/data:/data
    networks:
      - app-tier

  minio-config:
    image: python:3.10-slim
    depends_on:
      minio:
        condition: service_healthy
    env_file:
      - .env
    networks:
      - app-tier
    volumes:
      - ./init-scripts:/scripts
    command: >
      sh -c "pip install --no-cache-dir boto3==1.40.50 && python /scripts/create_buckets.py"

  producer:
    build:
      context: .
      dockerfile: ./docker/services/Dockerfile.producer
    image: trstream-producer:latest
    restart: unless-stopped
    depends_on:
      kafka:
        condition: service_healthy
      kafka-config:
        condition: service_completed_successfully
    environment:
      - BATCH_SIZE_LOG=100
      - MAX_SEND_RETRIES=5
    env_file:
      - .env
    volumes: 
      - ./src/producer:/app/src/producer
    networks:
      - app-tier

  consumer:
    build:
      context: .
      dockerfile: ./docker/services/Dockerfile.consumer
    image: trstream-consumer:latest
    restart: unless-stopped
    depends_on:
      kafka:
        condition: service_healthy
      minio:
        condition: service_healthy
      kafka-config:
        condition: service_completed_successfully
      minio-config:
        condition: service_completed_successfully
    env_file:
      - .env
    environment:
      - BUCKET_NAME=raw-data
    volumes:
      - ./src/consumer:/app/src/consumer
    networks:
      - app-tier

  partitioner:
    build:
      context: .
      dockerfile: ./docker/services/Dockerfile.partitioner
    image: trstream-partitioner:latest
    depends_on:
      minio:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - BUCKET_SRC=raw-data
      - BUCKET_TRG=tb-transactions
    networks:
      - app-tier

  compacter:
    build:
      context: .
      dockerfile: ./docker/services/Dockerfile.compacter
    image: trstream-compacter:latest
    depends_on:
      minio:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - BUCKET_NAME=tb-transactions
    networks:
      - app-tier  

  querier:
    build:
      context: .
      dockerfile: ./docker/services/Dockerfile.querier
    image: trstream-querier:latest
    depends_on:
      minio:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "8000:8000"
    networks:
      - app-tier  

  streamlit:
    build:
      context: .
      dockerfile: ./docker/services/Dockerfile.streamlit
    image: trstream-streamlit:latest
    env_file:
      - .env
    ports:
      - "8501:8501"
    depends_on:
      - querier
    networks:
      - app-tier