REVOLUT_CLIENT_ID="client-id"
REVOLUT_WEBHOOK_URL="https://link-to-your-webhook.vercel.app/api/webhook"
REVOLUT_REDIRECT_AUTH="example.com"

REVOLUT_SOURCE_ACCOUNT=id-source
REVOLUT_TARGET_ACCOUNT=id-target

UPSTASH_REDIS_REST_URL="https://your-link.upstash.io"
UPSTASH_REDIS_REST_TOKEN="yourtoken"