KAFKA_BROKER=your-kafka-broker:port

FAKER_TOPIC=transactions-faker
STRIPE_TOPIC=transactions-stripe
REVOLUT_TOPIC=transactions-revolut

MINIO_INGESTION_BUCKET=trstream-raw-events

MINIO_ENDPOINT=http://minio:port
MINIO_ACCESS_KEY=username
MINIO_SECRET_KEY=password