MINIO_ENDPOINT=http://minio:port
MINIO_ROOT_USER=username
MINIO_ROOT_PASSWORD=password

MINIO_INGESTION_BUCKET=trstream-raw-events
MINIO_PROCESSED_BUCKET=trstream-processed
MINIO_ANALYTICS_BUCKET=trstream-analytics